.divs {
    border: 3px solid chocolate;
    padding: 5px;
    margin-bottom: 10px;
    background-color: lightgray;
}

#div1 {
    border: 3px solid chocolate;
    padding: 5px;
    margin-bottom: 10px;
    background-color: lightgray;
}

p {
    color: darkblue
}
